// font-family
@font-face {
  font-family: "PixelMplus10";
  src: url(../../public/fonts/PixelMplus-20130602/PixelMplus10-Regular.woff)
      format("woff"),
    url(../../public/fonts/PixelMplus-20130602/PixelMplus10-Regular.woff2)
      format("woff2");
}
$font: "PixelMplus10", sans-serif;
$subFont: "osaka", sans-serif;

// color
$black: #171717;
$white: #ffffff;
$shadowLine: #d9d9d9;
$mainColor: #62639c;
$bgBlur: rgba(256, 256, 256, 0.5);
$bgWorks: #7ec2ff;
$mint: #c2efdb;
