// font-family
@font-face {
  font-family: "PixelMplus10";
  src: url(../../public/fonts/PixelMplus-20130602/PixelMplus10-Regular.woff)
      format("woff"),
    url(../../public/fonts/PixelMplus-20130602/PixelMplus10-Regular.woff2)
      format("woff2");
}
$font: "PixelMplus10", sans-serif;
$subFont: "osaka", sans-serif;
$prfTtl: "pattaya";
$prfText: "Zen Kurenaido";

// color
$black: #171717;
$white: #ffffff;
$shadowLine: #d9d9d9;
$mainColor: #62639c;
$bgBlur: rgba(256, 256, 256, 0.5);
$bgBlur2: rgba(23, 23, 23, 0.3);
$mint: #c2efdb;
$pink: #f36daf;
$gray: gray;
