@import "common";

html {
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 5vh;
  background-color: $headerWorks;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-family: $font;
  h1 {
    color: $white;
  }
}

.herstelWrap {
}
