@import "common";

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  // display: grid;
  // grid-template-columns: 25% 75%;
  // grid-template-rows: 12vh auto 1fr;
  color: $black;
  font-family: $subFont; // grid-template-areas:
  //   "header header"
  //   "list content";
  header {
    width: 100%;
    height: 12vh;
    padding: 0.5rem 0 0 2rem;
    background-color: $subColor;
    // border: 1px solid tomato;
    // grid-area: header;
    // grid-column: 1 / 3;
    // grid-row: 1 / 2;
    h1 {
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-family: $font;
      img {
        width: 10rem;
        height: auto;
        margin-right: 1rem;
      }
    }
  }
  .flex {
    width: 100%;
    height: 88vh;
    display: flex;
    .worksList {
      width: 20%;
      background-color: $worksBg;
      // grid-area: list;
      // grid-column: 1 / 2;
      // grid-row: 2 / 3;
      // border: 1px solid tomato;
      font-family: $font;
      text-align: center;
      div > p:first-child {
        padding-left: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        border-top: 1px solid $black;
        // border-bottom: 1px solid $black;
      }
      div:nth-child(2) {
        margin-bottom: 3rem;
      }
      h2 {
        padding: 1.2rem 0;
        font-size: 1.6rem;
        // background-color: $mainColor;
        // color: $white;
      }
      p {
        padding: 1rem 0;
        font-size: 1.2rem;
      }
      .selected {
        font-weight: bold;
        color: $pink;
      }
    }
    .herstelWrap {
      width: 80%;
      margin: 4%;
      display: flex;
      justify-content: space-between;
      // grid-column: 2 / 3;
      // grid-row: 2 / 3;
      // grid-area: content;
      // border: 1px solid tomato;
      .imgWrap {
        width: 44%;
        height: 40vh;
        background-color: $gray;
      }
      .imgDetail {
        width: 52%;
        height: 40vh;
        background-color: $gray;
      }
    }
  }
}
