@import "common";

html {
  font-size: 62.5%;
}

nav {
  display: flex;
  //   justify-content: space-around;
  align-items: end;
  flex-direction: column;
  margin-right: 40px;
  .navChild {
    width: 60px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    // border: 1px solid tomato;
    img {
      width: 60px;
      height: auto;
    }
    h1 {
      font-size: 1.6rem;
      font-family: $font;
      font-weight: 500;
      color: $black;
    }
  }
  .navChild:hover {
    img {
      width: 60px;
      border: 2px solid $shadowLine;
      background-color: $bgBlur;
      border-radius: 6px;
    }
    h1 {
      background-color: $bgBlur;
      border-radius: 6px;
      padding: 0 4px;
    }
  }
}
