@import "common";

html {
  font-size: 62.5%;
}

nav {
  display: flex;
  //   justify-content: space-around;
  align-items: end;
  flex-direction: column;
  margin-right: 2%;
  .navChild {
    width: 6.4rem;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 30px;
    .icon {
      width: 6.4rem;
      height: 6.4rem;
      background-size: cover;
      background-position: center;
    }
    h1 {
      margin-top: 2px;
      font-size: 1.6rem;
      font-family: $font;
      font-weight: 500;
      color: $black;
    }
  }
  .navChild:hover {
    cursor: pointer;
    .icon {
      background-color: $bgBlur;
      border-radius: 4px;
      outline: 2px solid $shadowLine;
      outline-offset: -2px;
      // padding: 0.4rem 0.4rem 0;
    }
    h1 {
      background-color: $pink;
      border-radius: 4px;
      padding: 0 0.4rem;
      color: $white;
    }
  }
  .navChild:nth-child(1) > .icon {
    background-image: url(../../public/image/profile.svg);
  }
  .navChild:nth-child(2) > .icon {
    background-image: url(../../public/image/works.svg);
  }
  .navChild:nth-child(3) > .icon {
    background-image: url(../../public/image/contact.svg);
  }
}
