@import "common";

html {
  font-size: 62.5%;
}

.profWrap {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: $white;
  // background-image: url(../../public/image/note.svg);
  .profTop {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 7rem;
    // border: 1px solid tomato;
    .imgWrap {
      width: 40%;
      padding-top: 40%;
      background-color: $mainColor;
      border: 4px solid $mainColor;
      // background-image: url(./image/profileImg.png);
    }
    .textTop {
      width: 50%;
      height: auto;
      color: $black;
      font-family: $subFont;
      margin-top: 6rem;
      // border: 1px solid tomato;
      h1 {
        font-size: 3.6rem;
        font-weight: bold;
        // border-bottom: 1px solid $mainColor;
        span {
          margin-left: 2rem;
          font-size: 2rem;
        }
      }
      p {
        margin: 1rem 0 0 2rem;
      }
      .sch {
        font-size: 1.6rem;
        margin-top: 1.6rem;
        span:first-child {
          font-size: 2rem;
          // color: $bgWorks;
        }
      }
      .bir {
        font-size: 2rem;
      }
      .from {
        font-size: 2rem;
      }
    }
  }
}
