@import "common";

html {
  font-size: 62.5%;
}

.profWrap {
  width: 100%;
  height: 200vh;
  overflow: scroll;
  background: url(../../public/image/grid.png), $bgBlur;
  .profTop {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    // border: 1px solid tomato;
    .imgWrap {
      width: 30%;
      height: 40rem;
      margin-top: 7rem;
      background-image: url(../../public/image/me.png);
      background-size: cover;
      border-radius: 10px;
      box-shadow: 10px 10px 0 0 $pink;
      transform: rotate(-4deg);
    }
    .textTop {
      width: 60%;
      height: auto;
      margin-top: 3rem;
      // border: 1px solid tomato;
      color: $black;
      font-family: $subFont;
      h1 {
        font-size: 4rem;
        font-family: $prfTtl;
        color: $pink;
        transform: translate(-10rem, 0) rotate(-4deg);
        span {
          margin-left: 2rem;
          font-size: 7.4rem;
        }
      }
      .name {
        font-size: 3rem;
        margin-top: 5rem;
        margin-left: 2rem;
      }
      .sch {
        font-size: 2rem;
        margin-top: 1.4rem;
        margin-left: 3.4rem;
        span {
          font-size: 1.4rem;
          // color: $bgWorks;
        }
      }
      .from {
        font-size: 2rem;
        margin-top: 1.4rem;
        margin-left: 3.4rem;
      }
    }
  }
  .about {
    font-family: $subFont;
    text-align: center;
    h2 {
      font-family: $prfTtl;
      font-size: 5rem;
      color: $pink;
    }
    p {
      font-size: 2rem;
    }
  }
  .skills {
    font-family: $subFont;
    text-align: center;
    h2 {
      font-family: $prfTtl;
      font-size: 5rem;
      color: $pink;
    }
    .imgWrap {
      display: flex;
      justify-content: space-evenly;
      .skillsImg {
        width: 9rem;
        height: 9rem;
        background-color: $pink;
      }
    }
  }
  .myFav {
    text-align: center;
    h2 {
      font-family: $prfTtl;
      font-size: 5rem;
      color: $pink;
    }
  }
}
