@import "common";

html {
  font-size: 62.5%;
}

.profWrap {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: $white;
  .profTop {
    display: flex;
    justify-content: space-around;
    padding-top: 8rem;
    border: 1px solid tomato;
    .imgWrap {
      width: 40rem;
      height: 40rem;
      // background-color: $mainColor;
      border: 4px solid $mainColor;
    }
    .textTop {
      width: 60rem;
      height: 40rem;
      color: $black;
      font-family: $subFont;
      h1 {
        font-size: 3.6rem;
      }
      p {
        font-size: 1.4rem;
        span {
          font-size: 2rem;
        }
      }
    }
  }
}
